BasedOnStyle: LLVM
Standard: Latest

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never

# Line length
ColumnLimit: 100

# Access modifier offset
AccessModifierOffset: -4

# Function parameters
BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: false

# Short functions
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: false

# Constructors
PackConstructorInitializers: BinPack
BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4

# Pointer alignment
PointerAlignment: Left
DerivePointerAlignment: false

# Braces
BreakBeforeBraces: Attach
BraceWrapping:
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

# Includes
SortIncludes: false

# Other
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: true
ReflowComments: true
SortUsingDeclarations: true
PenaltyBreakBeforeFirstCallParameter: 19
